[submodule "/lclhome/jfuen099/Documents/Python/gradient_chasing/surveyor_library"]
	path = /lclhome/jfuen099/Documents/Python/gradient_chasing/surveyor_library
	url = https://github.com/Xioeng/surveyor_asv.git
